/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Kablammo';
    
    text-align: center;

}

img {
    width: 100px;
    height: 100px;
}
